[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "LiblineaR"]
	path = LiblineaR
	url = https://github.com/cran/LiblineaR
	shallow = true
	registered = true
